body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="number"] {
    margin: 5px 0 15px 0;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#angleSlider {
    width: 300px;
    margin-top: 10px;
}

#angleInput {
    margin-top: 10px;
    width: 60px;
    text-align: center;
}

#angleValue {
    margin-left: 10px;
    margin-top: 10px;
}

#findPrincipal {
    margin-top: 20px;
}

#mohrCircle, #stressElement {
    margin-top: 20px;
}

#labels {
    margin-top: 20px;
    text-align: center;
}

#labels p {
    margin: 5px 0;
}
